


.Profile-text {
    font-size: 18px;
    text-align: center;
}

a:hover {
    color:white;
    text-decoration: none;
}

.menu-text {
    font-size: 15px !important;
}

    .menu-text a:hover {
        text-decoration-line: none;
    }

#etcard .card .card-text {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#etcard h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    padding: 0 16px;
    border-right: 8px solid #FFEB3B;
    text-align: right;
}

#etcard h2 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 1em;
    padding-left: 16px;
    padding-right: 24px;
    margin-bottom: 16px;
    text-align: right;
}

#etcard h6 {
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 700;
    margin: 16px;
    padding: 0;
}

#etcard .whitespace {
    flex: 1;
}

#etcard .bg {
    object-fit: fill;
    width: 100%;
    height: 100%;
    position: relative;
}

#etcard .overlay {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

#etcard .card {
    color: white;
    position: relative;
    display: inline-block !important;
    background: transparent;
    width: 60%;
    /* background: linear-gradient(5deg, #5c00ff, #010615, #008eff); */
    /* background: linear-gradient(235deg, #2196f3, #010615, #F00000); */
    height: 86%;
    box-shadow: 3px 3px 6px rgb(0 0 0 / 25%);
    border-radius: 16px;
    overflow: hidden;
}

#etcard button {
    padding: 16px 32px;
    border: none;
    background-color: #2B2D7C;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.25);
}


.movie-container {
    background-color: #ffffff45;
    -webkit-box-shadow: 0px 9px 20px 5px rgb(0 0 0 / 38%);
    box-shadow: 0px 9px 20px 5px rgb(0 0 0 / 20%);
    backdrop-filter: blur(37px);
    width: 68%;
}

h1 {
    font-weight: 700;
}

.movie-tags {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0;
    color: #9A8FCB;
    font-size: 12px;
}

    .movie-tags li {
        float: left;
        padding: 2px 8px;
        border-radius: 3px;
        border: 1px solid #9A8FCB;
        margin-right: 8px;
    }

        .movie-tags li.selected {
            background-color: #FE931F;
            border: 1px solid #FE931F;
            color: white;
            font-weight: 600;
        }

.movie-info {
    line-height: 35px !important;
    font-size: 16px;
    font-weight: 300;
}

.btn-watch {
    background-color: #910000;
    color: white;
    padding: 13px 40px;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
}


.movie-img {
    margin-top: -30%;
    -webkit-box-shadow: 0px 9px 20px 5px rgba(0,0,0,0.38);
    box-shadow: 0px 9px 20px 5px rgba(0,0,0,0.2);
}

#calendar-movie .movie-container {
    background-color: #ffffff36;
    -webkit-box-shadow: 0px 9px 20px 5px rgb(0 0 0 / 38%);
    box-shadow: 0px 9px 20px 5px rgb(0 0 0 / 20%);
    backdrop-filter: blur(37px);
    width: 68%;
    border-radius: 14px;
    max-height: 420px;
}
#calendar-movie .movie-img {
    margin-top: 0;
    -webkit-box-shadow: 0px 9px 20px 5px rgb(0 0 0 / 38%);
    box-shadow: 0px 9px 20px 5px rgb(0 0 0 / 20%);
}

.copyright {
    position: absolute;
    bottom: 5px;
    opacity: 0.5;
    left: 50%;
    transform: translate(-50%,0);
    color: white;
}

@media (min-width: 576px)  {
    .modal-dialog{
    max-width: 100% !important;
    margin: 0 auto !important;}
    #calendar-movie .movie-container {
        background-color: #ffffff36;
        -webkit-box-shadow: 0px 9px 20px 5px rgb(0 0 0 / 38%);
        box-shadow: 0px 9px 20px 5px rgb(0 0 0 / 20%);
        backdrop-filter: blur(37px);
        width: 68%;
        border-radius: 14px;
        max-height: 720px;
    }
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    text-align: -webkit-center;
    flex: 1 1 auto;
    padding: 0rem;
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
    padding: 4% !important;
    margin-left: 6% !important;
}


.list-group-item-action:focus, .list-group-item-action:hover {
    z-index: 0;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.list-group-item-action:active {
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: #00000024;
}


.tab-content > .active {
    display: flex !important;
}

:root {
    --dark-color: hsl(var(--hue), 100%, 9%);
    --light-color: hsl(var(--hue), 95%, 98%);
    --base: hsl(var(--hue), 95%, 50%);
    --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
    --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);
    --font-family: "Poppins", system-ui;
    --bg-gradient: linear-gradient( to bottom, hsl(var(--hue), 95%, 99%), hsl(var(--hue), 95%, 84%) );
}


#ativityform .orb-canvas, #settings .orb-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

#ativityform strong, #settings strong {
    font-weight: 600;
}

#ativityform .overlay, #settings .overlay {
    width: 100%;
    max-width: 1140px;
    max-height: 662px;
    padding: 8rem 6rem;
    display: flex;
    align-items: center;
    background: #81b1ef2b;
    backdrop-filter: blur(2px);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

#ativityform .overlay__inner, #settings .overlay__inner {
    max-width: 100%;
    width: 100%;
}

#ativityform .overlay__title, #settings .overlay__title {
    font-size: 1.875rem;
    line-height: 2.75rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-bottom: 2rem;
}

#ativityform .text-gradient, #settings .text-gradient {
    background-image: linear-gradient( 45deg, var(--base) 25%, var(--complimentary2) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#ativityform .overlay__description, #settings .overlay__description {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 3rem;
}

#ativityform .overlay__btns, #settings .overlay__btns {
    width: 100%;
    max-width: 30rem;
    display: flex;
}

#ativityform .overlay__btn, #settings .overlay__btn {
    width: 50%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--light-color);
    background: var(--dark-color);
    border: none;
    border-radius: 0.5rem;
    transition: transform 150ms ease;
    outline-color: hsl(var(--hue), 95%, 50%);
}

#ativityform .overlay__btn, #settings .overlay__btn {
    transform: scale(1.05);
    cursor: pointer;
}

#ativityform .overlay__btn--transparent, #settings .overlay__btn--transparent {
    background: transparent;
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    border-width: 2px;
    margin-right: 0.75rem;
}

#ativityform .overlay__btn-emoji, #settings .overlay__btn-emoji {
    margin-left: 0.375rem;
}

#ativityform a, #settings a {
    text-decoration: none;
    color: var(--dark-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-toggle::after {
    display:none;
}
@media (prefers-contrast: high) {
    #ativityform .orb-canvas, #settings .orb-canvas {
        display: none;
    }
}

@media only screen and (max-width: 1140px) {
    #ativityform .overlay, #settings .overlay {
        padding: 8rem 4rem;
    }
}

@media only screen and (max-width: 840px) {

    #ativityform .overlay, #settings .overlay {
        padding: 4rem;
        height: auto;
    }

    #ativityform .overlay__title, #settings .overlay__title {
        font-size: 1.25rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }

    #ativityform .overlay__description, #settings .overlay__description {
        font-size: 0.875rem;
        line-height: 1.5rem;
        margin-bottom: 2.5rem;
    }
}

@media only screen and (max-width: 600px) {
    #ativityform .overlay__btns, #settings .overlay__btns {
        padding: 1.5rem;
    }

    #ativityform .overlay__btns, #settings .overlay__btns {
        flex-wrap: wrap;
    }

    #ativityform .overlay__btn, #settings .overlay__btn {
        width: 100%;
        font-size: 0.75rem;
        margin-right: 0;
    }

        #ativityform .overlay__btn:first-child, #settings .overlay__btn:first-child {
            margin-bottom: 1rem;
        }
}

#ativityform .btn, #settings .btn {
    padding: 15px 50px;
    font-size: 18px;
    /* text-align: left; */
    margin: auto;
    color: #fff;
    border-radius: 3px;
    background: #a24105;
    display: inline-block;
}



.avatar-upload {
    position: relative;
    max-width: 100%;
}

    .avatar-upload .avatar-edit {
        position: absolute;
        z-index: 1;
        top: 10px;
    }

        .avatar-upload .avatar-edit input {
            display: none;
        }

            .avatar-upload .avatar-edit input + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all 0.2s ease-in-out;
            }

                .avatar-upload .avatar-edit input + label:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }

                .avatar-upload .avatar-edit input + label:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }

    .avatar-upload .avatar-preview {
        width: 185px;
        height: 170px;
        position: relative;
        border-radius: 10%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 10%);
    }

        .avatar-upload .avatar-preview > div {
            width: 100%;
            height: 100%;
            border-radius: 4%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
.activty-back {
    background-image: url(../img/adde.png);
    background-size: cover;
}
.container2 .btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.et-menu {
    list-style: none;
    flex-wrap: nowrap;
    display: -webkit-box;
    overflow-x: auto;
}
    .et-menu li {
        margin: 7px;
        position: relative;
    }

#ativitycalendar .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #81b1ef;
    border-color: #81b1ef;
}

#search-fr .searchform {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;

    font-size: 16px;
    height: 40px;
    display: flex;
    margin: auto;
    width: 40%;
}

#search-fr .search-field {
    -webkit-flex: 1 auto;
    -moz-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
}

#search-fr .search-field__input {
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    border-radius: 7px 0 0 7px;
    border-right: 0;
    border: none;
    box-sizing: border-box;
    color: gray;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    outline: none;
    padding: 5px 20px;
    padding: 5px 20px;
}

#search-fr .search-field__button {
    background-color: #fff;
    border-left: none;
    border-radius: 0 7px 7px 0;
    border: none;
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-size: 26px;
    overflow: visible;
    padding: 3px 0 2px;
    -moz-flex: 0 0 30px;
    -ms-flex: 0 0 30px;
    -webkit-flex: 0 0 30px;
    flex: 0 0 30px;
    flex-basis: 50px;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
}

    #search-fr .search-field__button:hover {
        background-color: #f5f5f5;
        color: #e78733;
    }

    #search-fr .search-field__button:active,
    #search-fr .search-field__button:focus {
        outline: none;
    }

#search-fr .e-icon__alt {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.people-nearby .google-maps {
    background: #f8f8f8;
    border-radius: 4px;
    border: 1px solid #f1f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

    .people-nearby .google-maps .map {
        height: 300px;
        width: 100%;
        border: none;
    }

.people-nearby .nearby-user {
    margin-bottom: 20px;
}

img.profile-photo-lg {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.yse {
    display: block;
    border-left: 1px solid #1e1e1e;
    position: fixed;
    /* background-color: #81b1ef2b; */
    backdrop-filter: blur(15px);
    left: 81%;
    width: 20%;
    top: 10%;
}

.ys-btn {
    padding: 4px 10px !important;
    border: none !important;
    background-color: #5a1717 !important;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 3px 3px 6px rgb(0 0 0 / 25%) !important;
}

.password-dflx{
    display:flex;
}
.settings-back {
    background-image: url(../img/s2.png);
    background-size: cover;
}
@media only screen and (max-width: 840px) {
    .yse {
        display: block;
        border-left: 1px solid #1e1e1e;
        position: fixed;
        /* background-color: #81b1ef2b; */
        backdrop-filter: blur(15px);
        left: 77%;
        width: 30%;
        top: 5%;
    }
  #ativityform .overlay, #settings .overlay {
        /* padding: 4rem; */
        height: auto;
        padding: 15px;
        min-height: 1000px;
    }
    .ys-btn {
        padding: 4px 2px !important;
        border: none;
        background-color: #5a1717 !important;
        color: white;
        font-size: 14px;
        border-radius: 8px;
        box-shadow: 3px 3px 6px rgb(0 0 0 / 25%) !important;
    }
   
    #calendar-movie .movie-container {
        background-color: #ffffff36;
        -webkit-box-shadow: 0px 9px 20px 5px rgb(0 0 0 / 38%);
        box-shadow: 0px 9px 20px 5px rgb(0 0 0 / 20%);
        backdrop-filter: blur(37px);
        width: 90%;
        border-radius: 14px;
        max-height: 720px;
    }
   
}

@media only screen and (max-width: 500px){
    .menu-open .side-header {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
        width: 22%;
        z-index: 102;
        visibility: visible;
    }
    #ativityform .overlay, #settings .overlay {
        width: 100%;
        max-width: 1140px;
        max-height: 1000px;
        padding: 6px;
        display: flex;
        align-items: center;
        background: #81b1ef2b;
        box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 10%);
        border-radius: 2rem;
        border: 1px solid rgba(255, 255, 255, 0.125);
    }
    .password-dflx {
        display:inline;
    }

    .activty-back {
        background-image: url(../img/adde.png);
        background-size: cover;
    }
    #calendar-movie .movie-container {
        background-color: #ffffff36;
        -webkit-box-shadow: 0px 9px 20px 5px rgb(0 0 0 / 38%);
        box-shadow: 0px 9px 20px 5px rgb(0 0 0 / 20%);
        backdrop-filter: blur(37px);
        width: 68%;
        border-radius: 14px;
        max-height: 720px;
    }
}