@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none
    }

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgb(220, 20, 60,0.6);
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    -webkit-border-radius: 0;
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background: #fff;
}

    ::-webkit-scrollbar-thumb:window-inactive {
        background: transparent;
    }

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: linear-gradient(180deg, #171717, #171717);
    height: 100vh;
    color: #fff;
    font-size: 62.5%;
    font-variant-ligatures: normal;
    font-kerning: normal;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    font-weight: 500;
}

p, span, a, div, input {
    font-family: inherit;
    font-size: 15px;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    font-family: inherit;
}

h2 {
    font-size: 40px;
    margin-bottom: 1rem;
}

p {
    line-height: 1.5;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    position: relative;
}

.btn {
    padding: 15px 50px;
    font-size: 18px;
    color: #fff;
    border-radius: 3px;
    background: #575757;
    display: inline-block;
}

.side-header {
    position: fixed;
    width: 8%;
    border-right: 1px solid #2a2929;
    height: 100vh;
    padding: 1rem 1.5%;
    overflow-x: hidden;
    background: #171717;
    z-index: 20;
}

.navbar-side {
    margin-top: 2rem;
    height: 450px;
    text-align: center;
    position: relative;
    width: 100%;
}

.logo {
    text-align: center;
    font-size: 30px;
    margin-top: 1rem !important;
}

.navbar-side ul li {
    width: 100%;
    padding: 4px 1em;
    margin-bottom: 3px;
    display: block;
    border-radius: 3px;
    transition: background 0.1s ease-in-out;
}

    .navbar-side ul li:hover, .navbar-side ul li:active {
        background: #575757;
    }

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar-side a {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1.2px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-side li a:active {
    color: #81b1ef;
    text-decoration-line: none;
}

.navbar-side li a svg:active {
    fill: #81b1ef !important;
}

.navbar-side ul li a .svg-space {
    width: 40px;
}

    .navbar-side ul li a .svg-space svg {
        width: 30px;
        height: 30px;
        margin-bottom: -12px;
        fill: #fff;
    }

.main-wrapper {
    width: 90%;
    height: auto;
    float: right;
    padding: 2rem 4rem;
    position: relative;
}

.top-navbar {
    position: relative;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    /* margin-top: -15px; */
    height: 50px;
    background: #171717;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.page-title {
    position: absolute;
    left: 0;
    font-size: 27px;
    color: #fff;
    border-bottom: 2px solid #81b1ef;
}

.menu-toggle {
    cursor: pointer;
    display: none !important;
}

.navbar-top {
    position: absolute;
    right: 8px;
    top: 20%;
    z-index: 99;
}

    .navbar-top li {
        margin-left: 10px;
        display: inline-block;
    }

        .navbar-top li a svg {
            fill: #fff;
            width: 30px;
            height: 30px;
        }

.works {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    display: flex;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    -webkit-column-width: 33.3%;
    -moz-column-width: 33.3%;
    column-width: 33.3%;
    margin-top: 1rem;
}

.work, .lab {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 2rem;
}

    .work img {
        max-width: 100%;
    }



.labs {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
}

.lab {
    min-height: 350px;
    margin-bottom: 2rem;
}

    .lab .lab-img {
        height: 80%;
    }

    .lab .lab-title {
        font-size: 20px;
        display: block;
        height: 20%;
    }
a:link {
    text-decoration: none
}

.bar--is-visible {
    opacity: 1;
    z-index: 102;
    visibility: visible;
}

.scroll-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 99;
    width: 50px;
    height: 50px;
    cursor: pointer;
    fill: rgb(0,0,0,0.8);
    opacity: 0;
}

.scroll_turn.scroll-top {
    opacity: 1;
}

@media only screen and (max-width: 1280px) {
    .side-header {
        width: 8%;
    }

    .main-wrapper {
        width: 75%;
    }

    .works {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-width: 50%;
        -moz-column-width: 50%;
        column-width: 50%;
    }
}

@media only screen and (max-width: 1024px) {
    .side-header {
        width: 280px;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
    }

    .menu-open .side-header {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
        width: 12%;
        z-index: 102;
        visibility: visible;
    }

    .main-wrapper {
        width: 100%;
        padding: 0 2rem;
        padding-bottom: 2rem;
    }

    .about, .contact {
        width: 100%;
    }

    .works {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-width: 33.3%;
        -moz-column-width: 33.3%;
        column-width: 33.3%;
    }

    .menu-toggle {
        display: inline-block !important;
    }

    h2 {
        font-size: 35px;
    }

    p {
        font-size: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .works {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-width: 50%;
        -moz-column-width: 50%;
        column-width: 50%;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }


    element.style {
    }

    .side-header {
        width: 280px;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
    }

    .menu-open .side-header {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
        width: 13%;
        z-index: 102;
        visibility: visible;
    }

    .main-wrapper {
        width: 100%;
        padding: 0 2rem;
        padding-bottom: 2rem;
    }

    .about, .contact {
        width: 100%;
    }

    .menu-toggle {
        display: inline-block !important;
    }
}

@media only screen and (max-width: 500px) {
    .works {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}


#search-fr .searchform {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    font-size: 16px;
    height: 40px;
    display: flex;
    margin: auto;
    width: 40%;
}

#search-fr .search-field {
    -webkit-flex: 1 auto;
    -moz-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
}

#search-fr .search-field__input {
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    border-radius: 7px 0 0 7px;
    border-right: 0;
    border: none;
    box-sizing: border-box;
    color: gray;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    outline: none;
    padding: 5px 20px;
    padding: 5px 20px;
}

#search-fr .search-field__button {
    background-color: #fff;
    border-left: none;
    border-radius: 0 7px 7px 0;
    border: none;
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-size: 26px;
    overflow: visible;
    padding: 3px 0 2px;
    -moz-flex: 0 0 30px;
    -ms-flex: 0 0 30px;
    -webkit-flex: 0 0 30px;
    flex: 0 0 30px;
    flex-basis: 50px;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
}

    #search-fr .search-field__button:hover {
        background-color: #f5f5f5;
        color: #e78733;
    }

    #search-fr .search-field__button:active,
    #search-fr .search-field__button:focus {
        outline: none;
    }

#search-fr .e-icon__alt {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}