@model VivuVM
    <header class="top-navbar">
        <form id="search-fr" class="searchform mt-2" style=" display: -webkit-flex; display: -ms-flexbox; font-size: 16px; height: 40px; display: flex; margin: auto; width: 40%;">
            <div class="search-field">
                <input autocomplete="off" class="search-field__input" name="term" placeholder="Ara" type="search">
            </div>
            <button class="search-field__button" type="submit">
                <i class="fa fa-search" aria-hidden="true"><span class="e-icon__alt">Search</span></i>
            </button>
        </form>
        <nav class="navbar-top">

            <ul>

                <li class="btn-group">
                    <a href="#" class="mx-1 dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.0.0 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 32V49.88C328.5 61.39 384 124.2 384 200V233.4C384 278.8 399.5 322.9 427.8 358.4L442.7 377C448.5 384.2 449.6 394.1 445.6 402.4C441.6 410.7 433.2 416 424 416H24C14.77 416 6.365 410.7 2.369 402.4C-1.628 394.1-.504 384.2 5.26 377L20.17 358.4C48.54 322.9 64 278.8 64 233.4V200C64 124.2 119.5 61.39 192 49.88V32C192 14.33 206.3 0 224 0C241.7 0 256 14.33 256 32V32zM216 96C158.6 96 112 142.6 112 200V233.4C112 281.3 98.12 328 72.31 368H375.7C349.9 328 336 281.3 336 233.4V200C336 142.6 289.4 96 232 96H216zM288 448C288 464.1 281.3 481.3 269.3 493.3C257.3 505.3 240.1 512 224 512C207 512 190.7 505.3 178.7 493.3C166.7 481.3 160 464.1 160 448H288z" /></svg></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 18rem !important; position: absolute; will-change: transform; top: 15px !important; left: 0px; transform: translate3d(-233px, 22px, 0px); ">
                       <ul>
                           <li style="border-bottom: 1px solid;"><span>Sümeyye Cevahir </span><span>adlı kullanıcı sizi takip etti</span></li>
                           <li style="border-bottom: 1px solid;"><span>Sümeyye Cevahir </span><span>adlı kullanıcı .. adlı etkinliğinize bilet aldı</span></li>
                           <li style="border-bottom: 1px solid;"><span>Matematik Özel Ders </span><span>adlı etkinliğinizin puan ortalaması 4.3 </span></li>
                       </ul>
                    </div>
                </li>
                <li class="menu-toggle">
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><g><g><path d="M4.667,82.982H95v-6.018H4.667V82.982z M4.667,52.895H95v-6.018H4.667V52.895z M4.667,19.798v6.018H95v-6.018H4.667z" /></g></g></svg></a>
                </li>

            </ul>

        </nav>

    </header>
    <link href="~/css/Home.css" rel="stylesheet" />