
@model VivuVM
<div class="logo">
    @*<i class="fas fa-user"></i>*@
    @*<i class="far fa-user"></i>*@
    <img src="@Model.user.AvatarAdress" style="width: 55%; border-radius: 100%;">
</div>
<link href="~/css/Home.css" rel="stylesheet" />