@model VivuVM
<div class="header" id="fg">

    <img class="lg-vivu" src="~/img/lg.png" />
    <div class="grid">
        <form asp-controller="Home" asp-action="ForgotPassword" class="login" method="POST">
            <div asp-validation-summary="All">
                <h4 class="grs-yp"> Giriş Yaparken Sorun mu Yaşıyorsun? </h4>
                <div class="my-3">
                    <span class="fontawesome-user"></span>
                    <input type="email" name="Email" placeholder="E-Posta Adresiniz">

                    <span class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" value="Şifre Yenileme Bağlantısı Gönder">
                </div>
            </div>
        </form>

        <div class="text-center">
            <a asp-controller="Home" asp-action="Login" class="btn btn-default btn-rounded mb-4">
                Giriş Ekranına Dön
            </a>
        </div>
    </div>
</div>

<link href="~/css/ForgotPassword.css" rel="stylesheet" />
