@{ Layout = "~/Views/Shared/_MyLayout.cshtml";}
    <div id="profilepage">
        <div class="profile-page">
            <div class="main main-raised">
                <div class="profile-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 ml-auto mr-auto">
                                <div class="profile">
                                    <div class="avatar">
                                        <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTU0NjQzOTk4OTQ4OTkyMzQy/ansel-elgort-poses-for-a-portrait-during-the-baby-driver-premiere-2017-sxsw-conference-and-festivals-on-march-11-2017-in-austin-texas-photo-by-matt-winkelmeyer_getty-imagesfor-sxsw-square.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                                    </div>
                                    <div class="name">
                                        <h3 class="title">Christian Louboutin</h3>
                                        <h6 style="color:#3c4858;">Designer</h6>
                                    </div>
                                    <div class="description text-center">
                                        <i class="far fa-user"></i> <span>24</span> <span>Takipçi</span>
                                    </div>
                                    <div class="description text-center">
                                        <i class="far fa-star" style="color: #FFD700;"></i> <span>4.7 / </span>   <span>24</span> <span>Değerlendirme</span>
                                    </div>
                                    <div>

                                        <button type="submit" id="takipet" class="btn btn-outline-dark"><i class="fas fa-user-plus mr-2"></i><span>Takip Et</span></button>
                                    </div>
                                    <div>

                                        <button type="submit" id="takipcikar" class="btn btn-dark"><i class="fas fa-user-minus mr-2"></i><span>Takipi Bırak</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mx-auto">
                                <div class="profile-tabs">
                                    <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                                                <i class="far fa-address-card"></i>
                                                Hakkında
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                                                <i class="fas fa-folder-plus"></i>
                                                Oluşturduğu Etkinlikler
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                                                <i class="far fa-plus-square"></i>
                                                Katıldığı Etkinlikler
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tab-content tab-space scroller">
                            <div class="tab-pane active text-center gallery" id="studio">
                                <div class="row">
                                    <div class="col-12 mx-auto">
                                        <div class="description text-center">
                                            <p>An artist of considerable range, Chet Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane text-center gallery" id="works">
                                <div class="row ">
                                    <div class="col-12 mb-5 ml-auto">
                                        <div class="col-8 ml-auto mr-auto">
                                            <div class="movie-container m-3 p-5">
                                                <div class="row d-flex align-items-stretch">
                                                    <div class="col-md-5 col-lg-5">
                                                        <img src="~/img/a1.jpg" class="img-fluid movie-img">
                                                    </div>
                                                    <div class="col-md-7 col-lg-7 d-flex flex-column justify-content-start">
                                                        <h1 class="mb-3">Etkinlik Adı</h1>
                                                        <ul class="movie-tags">
                                                            <li>Tarih: 02.07.2022</li>
                                                            <li>Saat: 16.00</li>
                                                            <li>
                                                                Fiyat: 20 <i class="fa fa-turkish-lira"></i>
                                                            </li>
                                                        </ul>
                                                        <div style="clear:both"> </div>
                                                        <p class="movie-info mt-3">
                                                            Etkinlik içeriği
                                                        </p>
                                                        <div class="mt-auto bd-highlight mb-2">
                                                            <a href="#" class="btn-watch"><i class="fa fa-ticket" aria-hidden="true"></i>Yayın Aç</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>       <div class="col-12 mb-5 ml-auto">
                                        <div class="col-8 ml-auto mr-auto">
                                            <div class="movie-container m-3 p-5">
                                                <div class="row d-flex align-items-stretch">
                                                    <div class="col-md-5 col-lg-5">
                                                        <img src="~/img/a1.jpg" class="img-fluid movie-img">
                                                    </div>
                                                    <div class="col-md-7 col-lg-7 d-flex flex-column justify-content-start">
                                                        <h1 class="mb-3">Etkinlik Adı</h1>
                                                        <ul class="movie-tags">

                                                            <li style="border:none;">
                                                                <i class="far fa-star" style="color: #FFD700;"></i> <span>4.7 / </span>   <span>24</span> <span>Değerlendirme</span>
                                                            </li>
                                                            <li style="border:none;"><i class="far fa-user" style="color: #FFD700;"></i><span> 42 </span><span>Katılımcı</span></li>
                                                        </ul>
                                                        <div style="clear:both"> </div>
                                                        <p class="movie-info mt-3">
                                                            Etkinlik içeriği
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane text-center gallery" id="favorite">
                                <div class="row scroller">

                                    <div class="col-12 mb-5 ml-auto">
                                        <div class="col-8 ml-auto mr-auto">
                                            <div class="movie-container m-3 p-5">
                                                <div class="row d-flex align-items-stretch">
                                                    <div class="col-md-5 col-lg-5">
                                                        <img src="~/img/a1.jpg" class="img-fluid movie-img">
                                                    </div>
                                                    <div class="col-md-7 col-lg-7 d-flex flex-column justify-content-start">
                                                        <h1 class="mb-3">Etkinlik Adı</h1>
                                                        <ul class="movie-tags">
                                                            <li>Tarih: 02.07.2022</li>
                                                            <li>Saat: 16.00</li>
                                                            <li>
                                                                Fiyat: 20 <i class="fa fa-turkish-lira"></i>
                                                            </li>
                                                        </ul>
                                                        <div style="clear:both"> </div>
                                                        <p class="movie-info mt-3">
                                                            Etkinlik içeriği
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    const $body = $('body');
    const $btnMenu = $('.menu-toggle');
    $btnMenu.click(function () {
        $body.toggleClass('menu-open');
    });

    const btnCloseBar = document.querySelector('.js-close-bar');
    const btnOpenBar = document.querySelector('.js-open-bar');
    const searchBar = document.querySelector('.searchbar');

    btnOpenBar.addEventListener('click', () => {
        searchBar.classList.add('bar--is-visible');
    });

    btnCloseBar.addEventListener('click', () => {
        searchBar.classList.remove('bar--is-visible');
    });

</script>
<link href="~/css/ProfilePage.css" rel="stylesheet" />