@model VivuVM
<div class="header" id="rp">

    <img class="lg-vivu" src="~/img/lg.png" />
    <div class="grid">
        <form asp-controller="Home" asp-action="ResetPassword" class="login" method="POST">
            <div asp-validation-summary="All">
                <h4 class="grs-yp"> Yeni Şifre </h4>
                @ViewBag.Message
                <div class="mb-3">
                    <span class="fontawesome-lock"></span>
                    <input asp-for="reset.Password" type="password" placeholder="Şifre" required>

                    <span asp-validation-for="reset.Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <span class="fontawesome-lock"></span>
                    <input asp-for="reset.RePassword" type="password" placeholder="Şifre" required>

                    <span asp-validation-for="reset.RePassword" class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" value="Kaydet">
                </div>
            </div>
        </form>
    </div>
</div>

<link href="~/css/ResetPassword.css" rel="stylesheet" />
